## TUPLES

#### - A collection of items which are indexed,ordered,immutable(not change)
#### - Represented by () seperated by comma
#### - Tuples are immutable (can modify the element inside the tuple), unlike lists which are mutable
#### - It can have duplicates
#### - When we do not want to change the data over time, tuple is prefered data type

In [1]:
a = (34,54,88)
print(dir(a))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [2]:
# Tuple initialization

empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
# Methods of initializing tuples

tp = 'Hi','Class!'
print(tuple(tp))


tuples = ('Hi','Class!')
print(tuples)

('Hi', 'Class!')
('Hi', 'Class!')

In [4]:
s = 12,13,14,"Hello",False
print(type(s))

<class 'tuple'>

In [5]:
tp = 'Hi','Class!'
print(type(tp))

<class 'tuple'>

In [6]:
tup = (7)
print(type(tup))

<class 'int'>

In [7]:
tup = (7,)
print(type(tup))

<class 'tuple'>

In [8]:
tup = (3,5.7,False,5+7j,"HELLO WORLD!",[6,8],"H")
len(tup)

7

In [9]:
tup = (3,5.7,False,5+7j,"HELLO WORLD!",[6,8],"H")
print(tup)

(3, 5.7, False, (5+7j), 'HELLO WORLD!', [6, 8], 'H')

In [3]:
tup = (3,5.7,False,5+7j,"HELLO WORLD!",[6,8],"H")
print(type(tup))

<class 'tuple'>

In [5]:
# Indexing a tuple

tup[4][5]

' '

In [13]:
tup[4][5]

' '

In [6]:
tup[-3][-6]

'W'

## Slicing a tuple

#### Slice a tuple in order to access a range of elements in it. Colon is used as a simple slicing operator (:).
#### The slice operator allows you to specify where to begin slicing, where to stop slicing, and what step to take.
#### Tuple string creates a new tuple from an old one.
#### Syntax: Tuple [Start : Stop : Stride(or)]Skip]

In [20]:
tup = (3,5.7,False,5+7j,"HELLO WORLD!",[6,8],"H")
print(tup[0:2:1])

(3, 5.7)

In [16]:
print(tup[3:])

((5+7j), 'HELLO WORLD!', [6, 8], 'H')

In [17]:
print(tup[:5])

(3, 5.7, False, (5+7j), 'HELLO WORLD!')

In [18]:
print(tup[-4:-2:1])

((5+7j), 'HELLO WORLD!')

In [19]:
print(tup[2::3])

(False, [6, 8])

In [8]:
# Concatenation of tuples

tup1 = (True,4,9.4,"Hi")
tup2 = (6.5,8.5)
tup3 = (15+8j,5,6.7)
tup4 = (11,)

print(tup1+tup2+tup3+tup4)

(True, 4, 9.4, 'Hi', 6.5, 8.5, (15+8j), 5, 6.7, 11)

In [23]:
# Repetition

print(tup4*3)

(11, 11, 11)

In [26]:
# Membership operators in tuple

tup1 = (True,4,9.4,"Hi")
print(True in tup1)

True

In [27]:
tup1 = (True,4,9.4,"Hi")
print(1 in tup1)

True

In [28]:
tup1 = (True,4,9.4,"Hi")
print(6 in tup1)

False

In [29]:
tup1 = (True,4,9.4,"Hi")
print(True not in tup1)

False

In [30]:
tup1 = (True,4,9.4,"Hi")
print(1 not in tup1)

False

In [31]:
tup1 = (True,4,9.4,"Hi")
print(6 not in tup1)

True

In [36]:
# Sorted tuple

tup5 = (6,8,2,7,6,9,4,3,5)
sorted(tup5)

TypeError: 'tuple' object is not callable

In [37]:
tup = (1,3,5,9,11)

output = tup[:3] + (7,) + tup[3:]

print(output)

(1, 3, 5, 7, 9, 11)

In [41]:
tup = (1,3,5,9,11)
del tup

#### LOOP THROUGH TUPLE

In [45]:
tup = (5,6,8,9,1,7,5)
for i in tup:
    print(i)

5
6
8
9
1
7
5

In [47]:
tup = (5,6,8,9,1,7,5)
for i in enumerate (tup):
    print(i)

(0, 5)
(1, 6)
(2, 8)
(3, 9)
(4, 1)
(5, 7)
(6, 5)

In [48]:
tup = (5,6,8,9,1,7,5)
for i,j in enumerate (tup):
    print(i,j)

0 5
1 6
2 8
3 9
4 1
5 7
6 5

#### COUNT

In [49]:
tup = (5,6,8,9,1,7,5,4,5,7,4,8,4,5,7)

tup.count(4)

3

In [50]:
tup.count(8)

2

#### INDEX POSITION

In [3]:
tup = (14,5,6,88,66,3,1,4,552,5,2)

tup.index(88)

3

In [9]:
tup = (14,5,6,88,66,3,1,4,552,5,2)

tup.index(3)

5

## SETS

In [ ]:
# A set is an unordered collection of heterogeneous(Different) data types that is iterateable, mutable and has no duplicate elements.
# Python's set class represents the mathematics notion of a set.

#### Unordered and unindexed collection of items
#### Set elements are unique. Duplicate elements are not allowed.
#### Set elements are immutable(Cannot be changed).
#### Set itself is mutable. We can add or remove items from it.

In [2]:
myset = set(["a","b","c"])
print(myset)

{'b', 'a', 'c'}

In [3]:
print(dir(myset))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [20]:
set1 = {0,5,7.8,'a','b','c','d','e','f','t','i','k','l'}
set1

{0, 5, 7.8, 'a', 'b', 'c', 'd', 'e', 'f', 'i', 'k', 'l', 't'}

In [1]:
set2 = set()
set2

set()

In [2]:
set2 = (5,8,9,0)
set3 = set(set2)
set3

{0, 5, 8, 9}

In [4]:
# Adding elements in the sets

myset = set(["a","b","c"])
myset.add("d")
print(type(myset))
print(myset)

<class 'set'>
{'c', 'd', 'a', 'b'}

In [5]:
mm = {}
type(mm)

dict

In [6]:
myset1 = {1.1,2.2,3.3,4.4,5.5,6.6}
myset1

{1.1, 2.2, 3.3, 4.4, 5.5, 6.6}

In [7]:
myset2 ={'Hello','World'}
myset2

{'Hello', 'World'}

In [8]:
# Mixed data types

myset3 = {30,54,'Hello',(54,56,24)}
myset3

{(54, 56, 24), 30, 54, 'Hello'}

In [9]:
# Check for list inside the sets, it will not allow the mutable items inside the sets

tt = {23,98,[5,6,8],"Hello"}
tt

TypeError: unhashable type: 'list'

In [11]:
# No index-wise operation is possible as it is not ordered

s1 = {True,4.7,9.7,88,32,5-4j,-5,-8,65}
s2 = {55}

print(s1)
print(s2)

{32, True, 65, 4.7, -5, 9.7, -8, (5-4j), 88}
{55}

In [14]:
# Set takes only unique values

s1 = {54.7,True,45-8j,5,"H",5,5,5,5}
print(s1)

{True, 'H', 5, (45-8j), 54.7}

In [15]:
s1 = {54.7,1,45-8j,5,"H",5,5,5,5,True}
print(s1)

{1, 'H', 5, (45-8j), 54.7}

In [16]:
# Length of set

print(len(s1))

5

In [17]:
# Set doesnot support indexing

s1 = {54.7,1,45-8j,5,"H",5,5,5,5,True}
print(s1[3])

TypeError: 'set' object is not subscriptable

In [18]:
# We cannot use slicing for sets as indexing is not possible

s1[0:2]

TypeError: 'set' object is not subscriptable

In [19]:
# We cannot repeat or concatenation sets

print(s1*2)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [20]:
print(s1+s2)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [21]:
# Membership operation works in sets

print(False in s1)
print(6 not in s1)
print(4 in s1)

False
True
False

In [1]:
# Set is mutable.
# We can change the elements of sets. We can insert, update or delete elements from sets.
# Insert: set.add(element)
# We can add only one element at a timr.

s1 = {"HI",4,8,6.5,True,"HELLO"}
s1.add(0.123456)
s1.add("World")
s1.add(False)
print(s1)

{False, True, 4, 6.5, 8, 'HI', 0.123456, 'World', 'HELLO'}

In [3]:
# Inserting multiple values in sets
# set.update([elements])

s1 = {"HI",4,8,6.5,True,"HELLO"}
s1.update([5,6.5,"HI"])
print(s1)

{'HELLO', True, 4, 5, 6.5, 8, 'HI'}

In [13]:
# set.remove(element) ---- removes the specified element from the set

s1 = {"HI",4,8,6.5,True,"HELLO"}
s1.remove("Hi") ## This will raise key error if element does't exist but discard will not
print(s1)

KeyError: 'Hi'

In [7]:
s1 = {"HI",4,8,6.5,True,"HELLO"}
s1.discard("Hi")
print(s1)

{'HELLO', True, 4, 6.5, 8, 'HI'}

In [10]:
# We can pop last element from set.
# We cannot pop a particular element from the set using index.

s1 = {4,False,5.6,"Good Morning"}
print(s1)

print(s1.pop())
print(s1.pop())
print(s1.pop())
print(s1)

{False, 'Good Morning', 4, 5.6}
False
Good Morning
4
{5.6}

In [11]:
# We can clear the elements of a set using clear() method

s1.clear()
print(s1)

set()

## COPY

In [12]:
my_set = {"HEMA","SHANTHI","SARANYA","SREE"}

my_set1 = my_set

my_set1

{'HEMA', 'SARANYA', 'SHANTHI', 'SREE'}

In [15]:
my_set

{'HEMA', 'SARANYA', 'SHANTHI', 'SREE'}

In [16]:
my_set2 = my_set.copy()

my_set2

{'HEMA', 'SARANYA', 'SHANTHI', 'SREE'}

In [17]:
my_set1[0] = "SURYA"

my_set1

TypeError: 'set' object does not support item assignment

In [18]:
my_set

{'HEMA', 'SARANYA', 'SHANTHI', 'SREE'}

In [19]:
my_set2

{'HEMA', 'SARANYA', 'SHANTHI', 'SREE'}

In [20]:
my_set2.add("PRIYA")
my_set2

{'HEMA', 'PRIYA', 'SARANYA', 'SHANTHI', 'SREE'}

In [21]:
my_set

{'HEMA', 'SARANYA', 'SHANTHI', 'SREE'}

In [22]:
my_set.add("MAH")
my_set

{'HEMA', 'MAH', 'SARANYA', 'SHANTHI', 'SREE'}

In [23]:
my_set2

{'HEMA', 'PRIYA', 'SARANYA', 'SHANTHI', 'SREE'}

## SET OPERATIONS

In [27]:
s1 = {"Python",4,3.0,True}
s2 = {-99,2,4,3.0,True,0}
s3 = {1,2,3,4.5,"Class"}

res = s1.union(s2)
print(res)

# Union (Returns all elements from the sets without repitition)

# Union of 2 sets

{0, True, 2, 3.0, 4, 'Python', -99}

In [28]:
# Union of more than 2 sets

print(s1.union(s2,s3))

{0, True, 2, 3.0, 4, 4.5, 'Python', 'Class', -99}

In [29]:
s1

{3.0, 4, 'Python', True}

In [30]:
s2

{-99, 0, True, 2, 3.0, 4}

In [31]:
s3

{1, 2, 3, 4.5, 'Class'}

In [32]:
# Updating the set s1 by calling the update() method with union of s1,s2,s3.

s1 = {"Python",4,3.0,True}
s2 = {-99,2,4,3.0,True,0}
s3 = {1,2,3,4.5,"Class"}

s1.update(s2,s3)
print(s1)

{0, True, 2, 3.0, 4, 4.5, 'Python', 'Class', -99}

In [34]:
# Intersection (Returns the common elements from both the sets)

s1 = {"Python",4,3.0,True}
s2 = {-99,2,4,3.0,True,0}
s3 = {1,2,3,4.5,"Class"}

res = s1.intersection(s2)
res

{True, 3.0, 4}

In [35]:
# Updating the set s1 by calling the intersection_update() method with the intersection of s1 and s2

s1 = {"Python",4,3.0,True}
s2 = {-99,2,4,3.0,True,0}

s1.intersection_update(s2)
print(s1)

{True, 3.0, 4}

In [37]:
# Difference (Returns set_1 - set_2.intersction(set_1))

s1 = {"Python",4,3.0,True}
s2 = {-99,2,4,3.0,True,1}

print(s1)
print(s2)

print(s1.difference(s2))  # set of elements that are only in s1 but not in s2
print(s2.difference(s1))  # set of elements that are only in s2 but not in s1

{True, 'Python', 3.0, 4}
{True, 2, 3.0, 4, -99}
{'Python'}
{2, -99}

In [38]:
print(s1-s2)
print(s2-s1)

{'Python'}
{2, -99}

In [41]:
# Updating the set by calling the difference_update() method with the difference of s1 and s2

s1 = {"Python",4,3.0,True}
s2 = {-99,2,4,3.0,True,1}

s1.difference_update(s2)
print(s1)

{'Python'}

In [44]:
# Symmetric - difference

# set of elements in A and B but not in both. "EXCLUDING COMMON ELEMENTS"

A = {1,2,3,4,5}
B = {4,5,6,7,8}

print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [45]:
print(A.symmetric_difference(B))

{1, 2, 3, 6, 7, 8}

In [46]:
# Updating the set A by calling the symmetric_difference_update() method with the symmetric values of A and B

A.symmetric_difference_update(B)
print(A)

{1, 2, 3, 6, 7, 8}

In [47]:
# Subset,Superset,and Disjoint

A = {1,2,3,4,5,6}
B = {3,4,5,6}
C = {23,42,55,67}

# Set B is said to be the subset of set A if all elements of B are present in A

B.issubset(A)

True

In [48]:
# Set A is said to be the superset of set B if all elements of B are present in A

A.issuperset(B)

True

In [3]:
# Two sets are said to be disjoint sets if they have no common elements between them

A = {1,2,3,4,5,6}
B = {3,4,5,6}
C = {23,42,55,67}

C.isdisjoint(A)

True

In [52]:
B.isdisjoint(A)

False

In [4]:
A = {1,2,3,4,5,6}

print(sum(A))
print(min(A))
print(max(A))
print(len(A))

21
1
6
6

In [55]:
# Sorting in sets

C = {23,42,55,67}

D = sorted(C,reverse=True)
print(D)
print(sorted(C))
print(type(D))

[67, 55, 42, 23]
[23, 42, 55, 67]
<class 'list'>

In [6]:
# Set enumerate

s1 = {"Python",4,3.0,True}
for i,k in enumerate(s1):
    print(i,k)

0 True
1 3.0
2 4
3 Python

## DICTIONARY

## DICTIONARIES

#### - Dictionary has key and value (Key:Value)
#### - As a python version 3.7, dictionaries are ordered. In python 3.6 and earlier, dictionaries are unordered.
#### - Each item of a dictionary has a key/value pair.
#### - Dictionaries retrieve values when the key is known.
#### - An item has a key and a corresponding value that is expressed as a pair (key:Value).

#### - Values are mutable.
#### - Keys are immutable.
#### - A Key and a value is similar to 'word' and the meaning in dictionary.
#### - We can update the meaning but cant change the word.

#### - It is represented by {}

In [1]:
dict1 = {"Tamil": "96", "English": "88","Maths":"98","Science":"95","S.S":"88"}
print(dict1)

{'Tamil': '96', 'English': '88', 'Maths': '98', 'Science': '95', 'S.S': '88'}

In [2]:
print(dir(dict1))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [10]:
dict1 = {"Tamil": "96", "English": "88","Maths":"98","Science":"95","S.S":"88"}
print(dict1["S.S"])

88

In [11]:
print(type(dict1))

<class 'dict'>

In [12]:
d1 = {1:"Hi",2.0:True,"Number":[24,65],'a':5-7j,5+8j:456}
d1

{1: 'Hi', 2.0: True, 'Number': [24, 65], 'a': (5-7j), (5+8j): 456}

In [13]:
d2 = {'l1':[1,2,3,4],'t1':(5,6,7,8),'d1':{'A','B','C','D'}}
d2

{'l1': [1, 2, 3, 4], 't1': (5, 6, 7, 8), 'd1': {'A', 'B', 'C', 'D'}}

In [14]:
print(type(d1))

<class 'dict'>

In [15]:
print(type(d2))

<class 'dict'>

In [16]:
# Keys can be of any datatype.
# Keys are immutable.Values are mutable.
# Another way of creating dictionaries.

dict3 = dict({1: "one", 2: "two", 3: "three"})
print(dict3)

{1: 'one', 2: 'two', 3: 'three'}

In [17]:
d3 = {(0,1,2,3):'tuple','dict':{'A':1,'B':2}}
d3

{(0, 1, 2, 3): 'tuple', 'dict': {'A': 1, 'B': 2}}

In [18]:
d4 = {[0,1,2,3]:'list','dict':{'A':1,'B':2}}
d4

TypeError: unhashable type: 'list'

In [19]:
d5 = {{'A':5,'B':6}:'dict','dict':{'A':1,'B':2}}
d5

TypeError: unhashable type: 'dict'

In [20]:
d6 = {{5,6.7}:'set','dict':{'A':1,'B':2}}
d6

TypeError: unhashable type: 'set'

In [22]:
d7 = {'A':[1,2,3,4],'B':(5,6,7,8),'C':{10,11,12,13,14},'D':{'AA':[54,78,6,21,58,30,78,],'BB':(55,77,88,99,11,22)}}
d7

{'A': [1, 2, 3, 4],
 'B': (5, 6, 7, 8),
 'C': {10, 11, 12, 13, 14},
 'D': {'AA': [54, 78, 6, 21, 58, 30, 78], 'BB': (55, 77, 88, 99, 11, 22)}}

In [23]:
d7['A']

[1, 2, 3, 4]

In [24]:
d7['A'][1]

2

In [25]:
d7['B']

(5, 6, 7, 8)

In [27]:
d7['B'][3]

8

In [28]:
d7['C']

{10, 11, 12, 13, 14}

In [29]:
d7['C'][5]

TypeError: 'set' object is not subscriptable

In [30]:
d7['D']

{'AA': [54, 78, 6, 21, 58, 30, 78], 'BB': (55, 77, 88, 99, 11, 22)}

In [31]:
d7['D']['AA'][3]

21

In [32]:
d7['D']['BB'][5]

22

In [33]:
d1 = {1:"Hi",2.0:True,"Number":[24,65],'a':5-7j,5+8j:456}
d1

{1: 'Hi', 2.0: True, 'Number': [24, 65], 'a': (5-7j), (5+8j): 456}

In [34]:
# Keys in dictionary

print(d1.keys())

dict_keys([1, 2.0, 'Number', 'a', (5+8j)])

In [35]:
# Values in dictionary

print(d1.values())

dict_values(['Hi', True, [24, 65], (5-7j), 456])

In [8]:
d1 = {1:"Hi",2.0:True,"Number":[24,65],'a':5-7j,5+8j:456}

print(d1.items())

dict_items([(1, 'Hi'), (2.0, True), ('Number', [24, 65]), ('a', (5-7j)), ((5+8j), 456)])

In [37]:
print(len(d1))

5

In [39]:
# We cant slice dictionary

d2 = {'l1':[1,2,3,4],'t1':(5,6,7,8),'d1':{'A':5,'B':6}}
d2[0:]

TypeError: unhashable type: 'slice'

In [40]:
d7 = {'A':[1,2,3,4],'B':(5,6,7,8),'C':{10,11,12,13,14},'D':{'AA':[54,78,6,21,58,30,78,],'BB':(55,77,88,99,11,22)}}
d7['D']['AA'][1:4]

[78, 6, 21]

In [9]:
# We cant repeat values of dictionary

d1 = {'l1':[1,2,3,4],'t1':(5,6,7,8),'d1':{'A':5,'B':6}}
print(d1 * 2)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [43]:
# Membership operators in dictionary
# It checks whether a key is present in dictionary or not

d1 = {'l1':[1,2,3,4],'t1':(5,6,7,8),'d1':{'A':5,'B':6}}
print('d1' in d1)

True

In [44]:
d1 = {'l1':[1,2,3,4],'t1':(5,6,7,8),'d1':{'A':5,'B':6}}
print('d1' not in d1)

False

In [45]:
# It checks only key not the values

print('t1' not in d1)

False

In [46]:
# Ways of creating dictionary

keys = {1,2,3,4,5}  # Keys will be given as a set
dict_1 = dict.fromkeys(keys)  # dict.fromkeys(keys,value)

print(keys)
print(type(keys))
print(dict_1)

{1, 2, 3, 4, 5}
<class 'set'>
{1: None, 2: None, 3: None, 4: None, 5: None}

In [47]:
# Updating values in each key

keys = {1,2,3,4,5}
value = 10
dict_1 = dict.fromkeys(keys,value)

print(keys)
print(dict_1)

{1, 2, 3, 4, 5}
{1: 10, 2: 10, 3: 10, 4: 10, 5: 10}

In [2]:
# Updating a list of values in all the keys

keys = {1,2,3,4}
value = [10,20,30]
dict_1 = dict.fromkeys(keys,value)
dict_1

{1: [10, 20, 30], 2: [10, 20, 30], 3: [10, 20, 30], 4: [10, 20, 30]}

In [3]:
value.append(40)
print(dict_1)

{1: [10, 20, 30, 40], 2: [10, 20, 30, 40], 3: [10, 20, 30, 40], 4: [10, 20, 30, 40]}

In [10]:
keys = [1,2,3,4]
dict_1 = dict.fromkeys(keys)
keys.append(5)
print(dict_1)

{1: None, 2: None, 3: None, 4: None}

In [8]:
# Using get method to access the value

d = {'A':11,'B':22,'C':33,'D':44}
print(d.get('A'))

11

In [9]:
# Values method

d.values()

dict_values([11, 22, 33, 44])

In [10]:
# Keys method

d.keys()

dict_keys(['A', 'B', 'C', 'D'])

In [11]:
# Items method

d.items()

dict_items([('A', 11), ('B', 22), ('C', 33), ('D', 44)])

In [12]:
# Dictionary is mutable. We can change the values.
# Insert, Update, Delete operations

d = {'A':11,'B':22,'C':33,'D':44}

# Insert a key-value pair

d['E'] = 55
d['F'] = 66
d['G'] = 77
d['H'] = 88

print(d)

{'A': 11, 'B': 22, 'C': 33, 'D': 44, 'E': 55, 'F': 66, 'G': 77, 'H': 88}

In [14]:
# Update a va0lue
# Same syntax as we inserted key-value pairs
# While inserting, we insert key and a value newly
# Here the key should be there already in the dictionary

d['H'] = 99
d['G'] = 111
d['F'] = 222

# We can only update a key but cannot give duplicate keys
# For example, if you give d['H'], it will update the value of key '7'. It will not create a duplicate key 'H'
# Entering a new key will insert new key-value pair

d['I'] = 333

print(d)

{'A': 11, 'B': 22, 'C': 33, 'D': 44, 'E': 55, 'F': 222, 'G': 111, 'H': 99, 'I': 333}

In [39]:
d1 = {'Name':'Saran','ID':42,'DOB':2003,'Address':'Banglore'}
d1

{'Name': 'Saran', 'ID': 42, 'DOB': 2003, 'Address': 'Banglore'}

In [40]:
# Adding items

d1['Job']='Python'
d1

{'Name': 'Saran',
 'ID': 42,
 'DOB': 2003,
 'Address': 'Banglore',
 'Job': 'Python'}

In [41]:
# Changing items

d1['DOB']=2004
d1['Address']='Chennai'
d1

{'Name': 'Saran', 'ID': 42, 'DOB': 2004, 'Address': 'Chennai', 'Job': 'Python'}

In [42]:
# Update method

newdict = {'DOB':2003,'Location':'Coimbatore'}
d1.update(newdict)
d1

{'Name': 'Saran',
 'ID': 42,
 'DOB': 2003,
 'Address': 'Chennai',
 'Job': 'Python',
 'Location': 'Coimbatore'}

In [11]:
# Pop method (Remove or delete)
d1 = {'Name':'Saran','ID':42,'DOB':2003,'Address':'Banglore'}

dictpop=d1.pop('Address')
print(dictpop)
print(d1)

Banglore
{'Name': 'Saran', 'ID': 42, 'DOB': 2003}

In [45]:
# Popitem ---- randomly pops an item from the dictionary

d1.popitem()

('Location', 'Coimbatore')

In [46]:
d1

{'Name': 'Saran', 'DOB': 2003, 'Job': 'Python'}

In [48]:
# Delete - We can delete a key-value pair using a key, but give a key name

del d1['DOB']
d1

{'Name': 'Saran', 'Job': 'Python'}

In [49]:
d1.clear()
d1

{}

## COPY

In [1]:
d1 = {'Name':'Saran','ID':42,'DOB':2003,'Address':'Banglore'}
d2 = d1
d1

{'Name': 'Saran', 'ID': 42, 'DOB': 2003, 'Address': 'Banglore'}

In [3]:
d3 = d1.copy()
d3

{'Name': 'Saran', 'ID': 42, 'DOB': 2003, 'Address': 'Banglore'}

In [4]:
d1['ID']=142
d1

{'Name': 'Saran', 'ID': 142, 'DOB': 2003, 'Address': 'Banglore'}

In [5]:
d3

{'Name': 'Saran', 'ID': 42, 'DOB': 2003, 'Address': 'Banglore'}

In [6]:
d2

{'Name': 'Saran', 'ID': 142, 'DOB': 2003, 'Address': 'Banglore'}

## LOOP THROUGH DICTIONARY

In [7]:
d1 = {'Name':'Saran','ID':42,'DOB':2003,'Address':'Banglore'}

for i in d1:
    print(i)

Name
ID
DOB
Address

In [10]:
d1 = {'Name':'Saran','ID':42,'DOB':2003,'Address':'Banglore'}
for i in d1.keys():
    print(i)

Name
ID
DOB
Address

In [11]:
d1 = {'Name':'Saran','ID':42,'DOB':2003,'Address':'Banglore'}
for i in d1.values():
    print(i)

Saran
42
2003
Banglore

In [12]:
for i in d1:
    print(d1[i])

Saran
42
2003
Banglore

In [16]:
for i in d1:
    print(i,':',d1[i])

Name : Saran
ID : 42
DOB : 2003
Address : Banglore

In [17]:
# Fetching key and values form dictionary

for i in d1.keys():
    print("Key:",i)
    print("Value:",d1[i])

Key: Name
Value: Saran
Key: ID
Value: 42
Key: DOB
Value: 2003
Key: Address
Value: Banglore

In [18]:
# To fetch key - value pairs as items

for i,j in d1.items():
    print(i,":",j)

Name : Saran
ID : 42
DOB : 2003
Address : Banglore

In [38]:
# Enumerating dictionary

for (key,value) in enumerate (d1.items()):
    print(key,value)

0 ('Name', 'Saran')
1 ('ID', 42)
2 ('DOB', 2003)
3 ('Address', 'Banglore')

In [33]:
# Unpacking enumerating dictionary

for index,(key,value) in enumerate (d1.items()):
    print(index,key,value)

0 Name Saran
1 ID 42
2 DOB 2003
3 Address Banglore

## ALL/ANY

In [ ]:
## All/Any

# The all() method returns
# True - If all keys of the dictionary are true.
# False - If any key of the dictionary is false.

# The any() function returns:
# True if any key of the dictionary is True.
# If not, any() returns False.

In [42]:
d1 = {1:[1,2,3],2:[4,5,6],'A':['abcd']}

print(all(d1))
print(any(d1))

True
True

In [47]:
# all() and any() methods will check for keys only

d1 = {0:[1,2,3],1:[4,5,6],2:['abcd']}

print(all(d1))
print(any(d1))

False
True

In [48]:
d1 = {False:(3,1),2:[4,5,6],'A':['abcd']}

print(all(d1))
print(any(d1))

False
True

In [ ]:
# There are four types of comprehension in python for different data types

# - list comprehension,[i*2 for i in list1]
# - dictionary comprehension, {k:v*3 for k,v in dict_1.items()}
# - set comprehension, {x**2 for x in numbers}
# - Generator comprehension (tuple comprehension)(x*x for x in numbers)

In [49]:
# List comprehension

list1 = [1,2,3,4,5]
l1 = [i*2 for i in list1]  # double the value
print(l1)
print(type(l1))

[2, 4, 6, 8, 10]
<class 'list'>

In [52]:
# Set comprehension

numbers = [2,3,4,5,6]
s1 = {x**2 for x in numbers}    # square of the value
print(s1)
print(type(s1))

{4, 36, 9, 16, 25}
<class 'set'>

In [54]:
# Dictionary comprehension

dict_comp={i:i+2 for i in range(10)}
dict_comp

{0: 2, 1: 3, 2: 4, 3: 5, 4: 6, 5: 7, 6: 8, 7: 9, 8: 10, 9: 11}

In [56]:
dict_1 = {'a':10,'b':'AB','c':30,'d':'CD','e':50}
dict_1 = {k:v*3 for (k,v) in dict_1.items()}    # Multiply all values by 3
dict_1

{'a': 30, 'b': 'ABABAB', 'c': 90, 'd': 'CDCDCD', 'e': 150}

In [2]:
# We can use dictionary comprehension to initialize values for dictionary from lists

key =['one','two','three','four','five']
value = [1,2,3,4,5]
dict_1 = {k:v for (k,v) in zip(key,value)}  # Use zip() to pair the elements based on their position from the list
dict_1

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [3]:
str = 'aadfhjyynfrjbfihcldnovd'
myd={i:i.upper() for i in str}
myd

{'a': 'A',
 'd': 'D',
 'f': 'F',
 'h': 'H',
 'j': 'J',
 'y': 'Y',
 'n': 'N',
 'r': 'R',
 'b': 'B',
 'i': 'I',
 'c': 'C',
 'l': 'L',
 'o': 'O',
 'v': 'V'}

In [4]:
str = 'ABCDEFGHI'
myd={i:i.lower() for i in str}
myd

{'A': 'a',
 'B': 'b',
 'C': 'c',
 'D': 'd',
 'E': 'e',
 'F': 'f',
 'G': 'g',
 'H': 'h',
 'I': 'i'}

In [6]:
str = "programming"     # Unique value only display duplicates not allowed
myd={i:i.lower() for i in str}
myd

{'p': 'p',
 'r': 'r',
 'o': 'o',
 'g': 'g',
 'a': 'a',
 'm': 'm',
 'i': 'i',
 'n': 'n'}