## FUNCTIONS

#### - A function is a block of organized code written to carry out a specified task.
#### - Functions help break our program into smaller and modular chunks for better readability.
#### - Information can be passed into a function as arguments.
#### - Parameters are specified after the function name inside the parenthesis.
#### - We can add as many parameters as we want. Parameters must be separated with a comma.
#### - A function may or may not return data.
#### - In python function is defined using the def keyword.

## Paramter VS Argument

#### - A parameter is the variable listed inside the parenthesis in the function definition.
#### - An argument is the value that is sent to the function when it is called.

## Types of function

## - Built-in-function:
   #### Python predefined functions that are readily available for use like min(),max(),sum(),print() etc,...
## - User-defined-function:
   #### Function that we define ourselves to perform a specific task.
## - Anonymous functions:
   #### Function that is defined without a name.
   #### Anonymous function are also called as lambda function.
   #### They are not declared with the def keyword.

In [2]:
def myfun():
    print("Hello Python Lovers")
myfun()

Hello Python Lovers

In [3]:
def details(name,userid,country):
    print('Name:',name)
    print('UserId is:',userid)
    print('Country is:',country)
    
details("Hema",111,"India")

Name: Hema
UserId is: 111
Country is: India

In [10]:
def addition(a,b):
    c=a+b
    print(c)
addition(2,3)

5

In [11]:
def myfun():
    var1=99
    print(var1)
    
myfun()

99

In [2]:
def sq(num):
    z=num*num
    print(z)
sq(2)

4

In [3]:
s1 = sq(4)

16

In [5]:
print(s1)

None

In [15]:
def sq(num):
    z=num*num
    return(z)
sq(3)

9

In [19]:
s2=sq(5)
print(s2)

25

In [20]:
def square(n):
    k=n*n
    print(k)

square(5)
square(6)
square(7)

25
36
49

In [21]:
def evenodd(num):
    if num%2==0:
        print('The number',num,'is even')
    else:
        print('The number',num,'is odd')
evenodd(3)
evenodd(4)

The number 3 is odd
The number 4 is even

In [30]:
def fullname(firstname,middlename,lastname):
    fullname = "{} {} {}".format(firstname,middlename,lastname)
    print(fullname)
    
fullname(lastname='S',middlename='',firstname='Hemalatha')

Hemalatha  S

In [34]:
# Default parameters

# You should specify the default parameter only after the non-default parameters

def fullname(middlename,firstname='Mr',lastname='Tagore'):
    fullname = f"{firstname} {middlename} {lastname}"
    print(fullname)
    
fullname('Rabindranath')

# When a function is called without enough arguments, it will use the default values defined in the function.

Mr Rabindranath Tagore

In [35]:
def fullname(middlename='Rabindranath',firstname,lastname='Tagore'):
    fullname = f"{firstname} {middlename} {lastname}"
    print(fullname)
    
fullname('Mr')

SyntaxError: non-default argument follows default argument (1880636940.py, line 1)

In [36]:
def fullname(middlename,firstname,lastname='Tagore'):
    fullname = f"{firstname} {middlename} {lastname}"
    print(fullname)
    
fullname('Rabindranath','Mr')

Mr Rabindranath Tagore

In [37]:
def fullname(middlename,firstname,lastname='Tagore'):
    fullname = f"{firstname} {middlename} {lastname}"
    print(fullname)
    
fullname('Mr','Rabindranath')

Rabindranath Mr Tagore

In [2]:
def printHello(str_val = "Folks!"):
    print("Hello " + str_val)
    
printHello("Guys!")

# When you give arguments, it will only be processed rather than the default parameter.

Hello Guys!

In [3]:
def myfun(city = "Mumbai"):
    print("Most popular city is: " + city)
    
myfun()

# When a function is called without an argument it will use default value

Most popular city is: Mumbai

In [4]:
var1 = 100     # Variable with global scope
def myfun():
    print(var1)
    
myfun()

100

In [7]:
def myfun():
    var2=11
    print(var2)  # Variable with local scope
    
myfun()

11

In [22]:
def myfun():
    print(var2)   # var2 is a local variable it doesnt print the value
    
myfun()

# This will throw error because var2 has a local scope

NameError: name 'var2' is not defined

In [23]:
def myfun():
    print(var1)    # var1 is a global variable so it will print the output value
     
myfun()

100

In [19]:
def myfun(var3):
    print(var3)
    
myfun(55)

55

In [30]:
def myfun(var3):
    print(myfun)
    
myfun(55)
print(type(myfun))

## <function myfun at 0x0000025FDA8FB2E0>  It represent memory allocation (storage).

<function myfun at 0x0000025FDA8FB2E0>
<class 'function'>

In [10]:
# Difference between global and local
# Assign the value before def fn, you will type the print statement it will be print the value.
# Assign the value after def fn, you will type the print statement it will not be print the value.

var1 = 100     # Variable with global scope
def myfun():
    print(var1)
    
myfun()
print(var1)

100
100

In [11]:
def myfun():
    var2=11
    print(var2)  # Variable with local scope
    
myfun()
print(var2)

11

NameError: name 'var2' is not defined

In [28]:
var1 = 100    # Variable with global scope
def myfun():
    var1 = 99 # Variable with local scope
    print(var1)
myfun()
print(var1)   # The original value of var1 (100) wil be retained due to global scope

99
100

In [11]:
# Pass by reference

l1=[11,22,33,44,55]
def myfun():
    print(l1)
    del l1[0]
    print("l1,Before calling the fun: ",l1)
    
myfun()
print("l1,After calling the fun: ",l1)

[11, 22, 33, 44, 55]
l1,Before calling the fun:  [22, 33, 44, 55]
l1,After calling the fun:  [22, 33, 44, 55]

In [58]:
def myfun():
    l2=[11,22,33,44,55]
    del l2[2]
    print("l2,Before fun: ",l2)
    
myfun()
print("l2,After fun: ",l2)

l2,Before fun:  [11, 22, 44, 55]

NameError: name 'l2' is not defined

In [16]:
l1=[11,22,33,44,55]

def myfun():
    l1.append(66)
print("l1,Before calling the fun: ",l1)
myfun()
print("l1,After calling the fun: ",l1)
print()

l1,Before calling the fun:  [11, 22, 33, 44, 55]
l1,After calling the fun:  [11, 22, 33, 44, 55, 66]

## RECURSIVE FUNCTION

#### A recursive function is one that calls itself eithe directly or indirectly through another function.
#### The basic structure of a recursive function includes a base case that stops the recursion and a recursive step that calls the function itself with modified parameters.

#### Here are the key elements of recursive function:

## Base Case:
#### - This is the condition under which the function stops calling itself. Without a base case, recursion will continue indefinetely,eventually leading to a stack overflow error.

## Recursive Case:
#### - This is where the function calls itself with a new set of parameters that moves towards the base case.

In [62]:
def factorial(num):
# Calculate factorial of a number using recursive function.
    if num<=1:
        return 1
    else:
        return num*factorial(num-1)
factorial(5)

120

In [65]:
def add(num):
# Sum of first n natural numbers
    if num==0:
        return 0
    else:
        return num+add(num-1)
    
add(8)
# Sum of first 8 natural numbers (1,2,3,4,5,6,7,8)  (8+7+6+5+4+3+2+1=36)

36

## args & kwargs



## args

#### - When we are not sure about the number of arguments being passed to a function then we can use *args as function parameter.
#### - *args allow us to pass the variable number of Non keyword Arguments to function.
#### - We can simply use an astrick * before the parameter name to pass variable length arguments.
#### - The arguments are always passed as a tuple.
#### - We can rename it to anything as long as it is preceded by a single astrick (*).
#### - It's best practice to keep naming it args to make it immediately recognizable.

## kwargs

#### - **kwargs allows us to pass the variable number of Keyword Arguments to the function.
#### - We can simply use an double astrick ** before the parameter name to pass variable length arguments.
#### - The arguments are passed as a dictionary.
#### - We can rename it to anything as long as it is preceded by a double astrick (**).
#### - It's best practice to keep naming it kwargs to make it immediately recognizable.

In [8]:
# *args

def add1(*args):
    #print(type(args))
    return(sum(args))
print(add1(1,2,3))
print(add1(1,2,3,4))
print(add1(1,2,3,4,5))
print(add1(1,2,3,4,5,6))
print(add1(1,2,3,4,5,6,7))

6
10
15
21
28

In [79]:
# We can give one or multiple lists or tuples as arguments for *args,
# Provided the datatype mismatch should be acceptable in the performing operations.

def add1(*args):
    #print(type(args))
    return sum(args)
l1 = [1,2,3,4,5,6,7,8,9,10]
t1 = (1.1,2.2,3.3,4.4,5.5,6.6)

print(add1(*l1,*t1))
print(add1(*t1,*l1))

78.1
78.1

In [75]:
def add1(*args):
    return sum(args)
l1 = [1,2,3,4,5,6,7,8,9,10]
t1 = (1.1,2.2,3.3,4.4,5.5,6.6)

t2 = ("Hi","GM")  ## Cannot add a 'str' obj and 'int' obj

print(add1(*l1,*t1,*t2))
print(add1(*t1,*l1,*t2))

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [88]:
# We can give multiple lists and tuples as input to *args but not dictionaries
# Since list and tuple values here are of int and float type that can be added,
# This doesnt throw an error and the addition is performed across lists and tuple

l1 = [1,2,3,4,5,6,7]
l2 = [1,2,3,4,5,6,7]
l3 = [1,2,3,4,5,6,7]
l4 = [1,2,3,4,5,6,7]
t2 = (1.1,2.2,3.3)

add1(*l1,*l2,*l3,*l4,*t1)

135.1

In [89]:
# using *args

def Userdetails(*args):
    print(args)
    
Userdetails('ABS',7236,85.6,"India",'Tamil')

('ABS', 7236, 85.6, 'India', 'Tamil')

In [3]:
# using *kwargs

def Userdetails(**kwargs):
    print(kwargs)
    
Userdetails(Name='ABS',ID=1424,Pincode=641032,Age=48,Country='India')

{'Name': 'ABS', 'ID': 1424, 'Pincode': 641032, 'Age': 48, 'Country': 'India'}

In [5]:
# **kwargs

def Userdetails(**kwargs):
    for key,val in kwargs.items():
        print("{} : {}".format(key,val))
        
Userdetails(Name='ABS',ID=1424,Pincode=641032,Age=48,Country='India')

Name : ABS
ID : 1424
Pincode : 641032
Age : 48
Country : India

In [4]:
# Order in which we define the parameters --- (non-default-arguments,*args,default-arguments,**kwargs)

def Userdetails(licenseNo,*args,phoneNo=0,**kwargs):
    print('License No:',licenseNo)
    j=' '
    for i in args:
        j = j+i
    print('Full Name:',j)
    print('Phone Number:',phoneNo)
    for key,val in kwargs.items():
        print("{} : {}".format(key,val))
        
name = ['ABC',' ','DEF',' ','GHI']
place = (' ','Madras',' ','Calicut')
mydict = {'Name':'ABS','ID':1424,'Pincode':641032,'Age':48,'Country':'India'}

Userdetails("BHFYF24",*name,*place,phoneNo=9568741569,**mydict)

License No: BHFYF24
Full Name:  ABC DEF GHI Madras Calicut
Phone Number: 9568741569
Name : ABS
ID : 1424
Pincode : 641032
Age : 48
Country : India

In [13]:
# Multiple lists,tuples and dictionaries can be passed,
# provided datatype mismatch should not hinder the operations performed within *args

def Userdetails(licenseNo,*args,phoneNo=0,**kwargs):
    print('License No:',licenseNo)
    j=' '
    for i in args:
        j = j+i
    print('Full Name:',j)
    print('Phone Number:',phoneNo)
    for key,val in kwargs.items():
        print("{} : {}".format(key,val))
        
firstname = ['Mr',' ']
secondname = ["Rabindranath"," "]
lastname = ['Tagore',' ']
list1 = [1,2,3,4,5]
tuple1 = (1.1,2.2,3.3,4.4)
mydict = {'Name':'Rabindranath Tagore','Pincode':641032}
mydict1 = {'Age':45,'Country':"India"}
mydict2 = {"ID":142}

Userdetails('BHUI87G',*firstname,*secondname,*lastname,**mydict,**mydict1,**mydict2)

License No: BHUI87G
Full Name:  Mr Rabindranath Tagore
Phone Number: 0
Name : Rabindranath Tagore
Pincode : 641032
Age : 45
Country : India
ID : 142

In [14]:
def Userdetails(licenseNo,*args,phoneNo=0,**kwargs):
    print('License No:',licenseNo)
    j=' '
    for i in args:
        j = j+i
    print('Full Name:',j)
    print('Phone Number:',phoneNo)
    for key,val in kwargs.items():
        print("{} : {}".format(key,val))
        
firstname = ['Mr',' ']
secondname = ["Rabindranath"," "]
lastname = ['Tagore',' ']
list1 = [1,2,3,4,5]
tuple1 = (1.1,2.2,3.3,4.4)
mydict = {'Name':'Rabindranath Tagore','Pincode':641032}
mydict1 = {'Age':45,'Country':"India"}
mydict2 = {"ID":142}

Userdetails('BHUI87G',*firstname,*secondname,*lastname,*list1,**mydict,**mydict1,**mydict2)  # Does not concatenate str and num

License No: BHUI87G

TypeError: can only concatenate str (not "int") to str

In [19]:
def Userdetails(licenseNo,*args,phoneNo=0,**kwargs):
    print('License No:',licenseNo)
    #j=' '
    for i in args:
        print(i)
    
    print('Phone Number:',phoneNo)
    for key,val in kwargs.items():
        print("{} : {}".format(key,val))
        
firstname = ['Mr',' ']
secondname = ["Rabindranath"," "]
lastname = ['Tagore',' ']
list1 = [1,2,3,4,5]
tuple1 = (1.1,2.2,3.3,4.4)
mydict = {'Name':'Rabindranath Tagore','Pincode':641032}
mydict1 = {'Age':45,'Country':"India"}
mydict2 = {"ID":142}

Userdetails('BHUI87G',*firstname,*secondname,*lastname,*list1,*tuple1,**mydict,**mydict1,**mydict2)

License No: BHUI87G
Mr

Rabindranath

Tagore

1
2
3
4
5
1.1
2.2
3.3
4.4
Phone Number: 0
Name : Rabindranath Tagore
Pincode : 641032
Age : 45
Country : India
ID : 142

## LAMBDA

In [ ]:
# A = lambda.arguments : expression

In [1]:
addition = lambda a: a+10
print(addition(5))

15

In [2]:
product = lambda a,b : a*b
print(product(2,7))

14

In [4]:
addition = lambda a,b,c,d,e,f : a+b+c+d+e+f
print(addition(5,8,7,4,9,6))

39

In [5]:
a = lambda * args : sum(args)
print(a(45,65))
print(a(85,22,44))
print(a(77,55,22,44,20))

110
151
218

In [6]:
def doubling (*list_values):
    list_res = []
    double_val = lambda a : 2*a
    for i in list_values:
        list_res.append(double_val(i))
    return list_res

list1 = [1,2,3]
list2 = [11,22,33,44]
list3 = [10,20,30,40,50]
tuple1 = (5,6,7)

print(doubling(*list1,*list2,*list3,*tuple1))

[2, 4, 6, 22, 44, 66, 88, 20, 40, 60, 80, 100, 10, 12, 14]

In [1]:
# This lambda function can take any number of dictionaries and find the sum of their values

result1 = lambda **kwargs : sum(kwargs.values())   ## Built-in-fn (sum)
print(result1(a=10,b=20,c=30))

dict_val = {'a':1,'b':2,'c':3,'d':4,'e':5}
print(result1(**dict_val))

60
15

In [6]:
# User defined function to find product of numbers

def multiply(nums):   ## User-defined-fn (multiply)
    result = 1
    for i in nums:
        result *= i
    return result

# This lambda function can take any number of arguments and return their product

res = lambda **kwargs: multiply(kwargs.values())
print(res(a=10, b=20, c=30))

dict_val = {'a':1,'b':2,'c':3,'d':4,'e':5}
print(res(**dict_val))

list1=[1,2,3,4,5,6,7]
print(multiply(list1))

print(multiply(dict_val.values()))

6000
120
5040
120

## FILTER

#### - It is used to filter the iterable/sequence as per the conditions.
#### - Filter function filters the original iterable and passes the items that returns True for the function provided to filter.
#### - It is normally used with Lambda function to filter list,tuple or sets.
#### - The result is in the form of list.
#### - Filter() method takes two parameters:
#### - Function - Function tests if elements of an iterable returns true or false
#### - Iterable - Sequence which needs to be filtered, could be sets,lists,tuples or any iterators

## SYNTAX

#### filter(function,iterable)

In [13]:
list1 = [1,2,3,4,5,6,7,8]

def odd(n):
    if n%2==1:
        return True
    else:
        return False
    
#print(filter(odd,list1))  ## It has only object name     syntax: - (filter(odd,list1))
odd_num = list(filter(odd,list1)) ## This filter fn filters list1 using 'odd' fn returns the odd numbers
print(odd_num)

[1, 3, 5, 7]

In [19]:
# Same function can be written as lambda function

list1 = [1,2,3,4,5,6,7,8]

# The filter function filters "list1" and returns all odd numbers using lambda function

odd_num = list(filter(lambda n: n%2 ==1, list1))
print(odd_num)

[1, 3, 5, 7]

In [28]:
list1 = [1,2,3,4,5,6,7,8]
odd_num =[n for n in list1 if n%2==1]
print(odd_num)

[1, 3, 5, 7]

In [29]:
tup1 = ("Hello","MadaM","level")

def palindrome(n):
    if n[::-1] == n:
        return True
    else:
        return False
    
palindromes = list(filter(palindrome,tup1))
print(palindromes)

['MadaM', 'level']

In [35]:
tup1 = ("Hello","MadaM","level")

palindromes = list(filter(lambda n: n[::-1]==n,tup1))
print(palindromes)

['MadaM', 'level']

In [34]:
tup1 = ("Hello","MadaM","level")
palindromes=[i for i in tup1 if i[::-1]==i]
palindromes

['MadaM', 'level']

In [37]:
set1 = {"one","two","three","3+2j","6.5","44"}

def isString(n):
    if n.isalpha():
        return True
    else:
        return False
    
strings = list(filter(isString,set1))
print(strings)

['two', 'one', 'three']

In [4]:
# Same fn can be written as lambda fn

set1 = {"one","two","three","3+2j","6.5","44"}

strings = list(filter(lambda n: n.isalpha(),set1))
strings

['two', 'three', 'one']

In [5]:
set1 = {"one","two","three","3+2j","6.5","44"}

strings=[i for i in set1 if i.isalpha()]
strings

['two', 'three', 'one']

In [7]:
## 1st Program

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def greater(n):
    if n>5:
        return True
    else:
        return False
    
num = list(filter(greater,numbers))
num

[6, 7, 8, 9, 10]

In [8]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

num = list(filter(lambda n: n>5,numbers))
num

[6, 7, 8, 9, 10]

In [12]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

num=[i for i in numbers if i>5]
num

[6, 7, 8, 9, 10]

In [9]:
### 2nd Program

words = ['a', 'an', 'the', 'at', 'to', 'by', 'python', 'lambda']

def length(i):
    if len(i) <= 3:
        return True
    else:
        return False

a = list(filter(length, words))
a

['a', 'an', 'the', 'at', 'to', 'by']

In [2]:
words = ['a', 'an', 'the', 'at', 'to', 'by', 'python', 'lambda']

length=list(filter(lambda i: len(i) >= 3, words))
length

['the', 'python', 'lambda']

In [5]:
a = ['a', 'an', 'the', 'at', 'to', 'by', 'python', 'lambda']

d = [i for i in a if len(i) <= 3]
d

['a', 'an', 'the', 'at', 'to', 'by']

In [48]:
## 3rd Program

people = [
    {'name': 'John', 'age': 28},
    {'name': 'Jane', 'age': 22},
    {'name': 'Dave', 'age': 32}
]


v = 25

#def filter_by_age(person, threshold):
    #return person['age'] > threshold

a = list(filter(lambda person: person['age'] > v, people))

a

[{'name': 'John', 'age': 28}, {'name': 'Dave', 'age': 32}]

In [41]:
## 4th Program

strings = ['hello', 'world', 'python', 'lambda', 'functions']

substring = 'h'

a = list(filter(lambda i: substring in i, strings))

a

['hello', 'python']

## MAP

#### The map() fn applies a give fn to each item of an iterable (list,tuple etc,.) and returns a list of the results.
#### map() fn takes tow Parameters:
#### function: The fn to execute for each item of given iterable.
#### iterable: It is a iterable which is to be mapped.
#### Returns a list of the results after applying the given fn to each item of a given iterable (list,tuple etc,..)

## SYNTAX


#### map(function,iterable)

In [12]:
def twice(n):
    return n*2

list1 = [1,2,3,3.5,5.2,"Hello","HI"]

# This map fn applies user defined "twice" fn to each item of list and returns the doubled values in the form of list.

doubles = list(map(twice,list1))
doubles
#print(type(doubles)) for i
#a=[i*2 for i in list1]
#print(a)

[2, 4, 6, 7.0, 10.4, 'HelloHello', 'HIHI']

In [13]:
list1 = [1,2,3,3.5,5.2,"Hello","HI"]

doubles1=list(map(lambda n:n*2,list1))
print(doubles1)

[2, 4, 6, 7.0, 10.4, 'HelloHello', 'HIHI']

In [15]:
set1={"one","two",8+7j,7.9,3}  # The output will be displayed unordered form

# This map fn applies lambda fn to each and every item of set and returns the result in the form of list.

doubles=list(map(lambda n:n*2,set1))
print(doubles)

[(16+14j), 'oneone', 6, 15.8, 'twotwo']

In [17]:
def factorial(n):
    if n<=1:
        return 1 
    else:
        result = 1
        for i in range (2,n+1):
            result = result*i
        return result
    
tup1 = (1,2,3,4,5)
# This map fn applies "factorial" fn to each item of tup
fact = list(map(factorial,tup1))
print(fact)

[1, 2, 6, 24, 120]

## REDUCE

#### The reduce() fn is defined in the functools python module.
#### The reduce() fn receives 2 arguments,a fn and an iterable (list,tuple or set,..)
#### However, it does'nt return another iterable, instead it returns a single value

## STEPS:

#### >1) Apply a fn to the first 2 items in an iterable and generate a partial result
#### >2) The fn is then called again with the result obtained in step1 and the next value in the sequence. This process keeps on repeating until there are items in the sequence.
#### >3) The final returned result is returned and printed on console

In [1]:
from functools import reduce

list1 = [10,2,3,4]

def sub(a,b):
    return a-b

subtract = reduce(sub,list1)

# This reduce fn performs sub for first 2 items initially,
# and then that result is sub with 3rd element in the list and so on.
# Finally a single answer is printed

print(subtract)

1

In [3]:
tup1 = (1000,23,45,623,1900,983,10000,300123)

min_num = reduce(lambda a,b : a if a<b  else b, tup1)
max_num = reduce(lambda a,b : a if a>b  else b, tup1)

print(min_num)
print(max_num)

23
300123

In [7]:
# This reduce fn returns True if all the elements in the iterable is non-zero

print(reduce(lambda a,b: bool(a and b),[1,0,1,1,0]))  # list # - and it means True only
print(reduce(lambda a,b: bool(a and b),(4,8,7,2,35))) # tuple
print(reduce(lambda a,b: bool(a and b),{8,9,22,4,0}))   # set

False
True
False

In [8]:
print(reduce(lambda a,b: bool(a or b),[1,0,1,1,0]))  # list 
print(reduce(lambda a,b: bool(a or b),(4,8,7,2,35))) # tuple
print(reduce(lambda a,b: bool(a or b),{8,9,22,4,0})) # set

True
True
True

## Iterables and Iterators

#### An iterable is an object that can be iterated upon
#### It can return an iterator object with the purpose of traversing through all the elements of an iterable.
#### An iterable object implements iter() which is expected to return an iterator object.
#### The iterator object uses the next() method.
#### Every time next() is called next element in the iterator stream is returned. When there are no more elements available.
#### StopIterationexceptiom is encountered. So any object that has a next() method is called an iterator.

#### For most standard looping tasks over iterable, a simple  for loop is the best and most efficient approach.
#### Use an iter object when you need more control over the iteration than the for loop's automatic iteration control provides.

## Advantages of iterator object

#### Manual Control of Iteration: You can control when to fetch the next item,allowing for more complex logic or interspersing other operations between iterations.
#### Pausing and Resuming Iteration: Using iter and next() allowss you to pause iteration as needed,perform different operations,and then resume.

In [4]:
# Iterable object ----- Iterator object ----- Elements

list1=[1,2.5,6-8j,58,"Hi"]

# Print(dir(list1)) 
list_iter_obj = iter(list1)    # Create an iterator object

print(next(list_iter_obj))    # It returns first element in the iterator
print(next(list_iter_obj))    # It returns next element in the iterator
print(next(list_iter_obj))
print(next(list_iter_obj))
print(next(list_iter_obj))

1
2.5
(6-8j)
58
Hi

In [21]:
# Same can be done using __next__() method for accessing next element in the iterator object.

list1=[1,2.5,6-8j,58,"Hi"]

list_iter_obj = iter(list1)

print(list_iter_obj.__next__())
print(list_iter_obj.__next__())
print(list_iter_obj.__next__())
print(list_iter_obj.__next__())

1
2.5
(6-8j)
58

In [22]:
print(list_iter_obj.__next__())
print(list_iter_obj.__next__())

Hi

StopIteration:

In [23]:
# Same can be printed using 'for'.

list1=[1,2.5,6-8j,58,"Hi"]

list_iter_obj = iter(list1)

for i in list_iter_obj:    # StopIteration it will handle automatically for loop
    print(i)

1
2.5
(6-8j)
58
Hi

In [26]:
for i in list_iter_obj:    # StopIteration it will handle automatically for loop
    print(i)

In [27]:
for i in list1:   
    print(i)

1
2.5
(6-8j)
58
Hi

In [2]:
numbers = [1,2,3,4,5,6]
number_iter = iter(numbers)

a = next(number_iter)
b = next(number_iter)

print("Performing some operations")

power = a**b
print(power)

c = next(number_iter)

multiply = power*c
print(multiply)

d = next(number_iter)

add = multiply+d
print(add)

Performing some operations
1
3
7

In [5]:
## Tuples

tup1 = ("ABC","Company","is","the","best")

tup_iter_obj = tup1.__iter__() # This is the another iter() method

print(next(tup_iter_obj))
print(next(tup_iter_obj))
print(next(tup_iter_obj))
print(next(tup_iter_obj))
print(next(tup_iter_obj))

ABC
Company
is
the
best

In [39]:
set1 = {"ABC","Company","is","the","best"}

set_iter_obj = set1.__iter__()  # This is the another iter() method

print(next(set_iter_obj))
print(next(set_iter_obj))
print(next(set_iter_obj))
print(next(set_iter_obj))
print(next(set_iter_obj))

the
best
is
Company
ABC

In [42]:
set1 = {"You","Should","Practice","Till","You","Master","it"}  # You repeated it does'nt allow duplicates

set_iter_obj = set1.__iter__()

print(next(set_iter_obj))
print(next(set_iter_obj))

Should
Till

In [52]:
## Dictionary

dict1 = {'a':1,"b":2,'c':3}

dict_iter_obj = iter(dict1)

print(next(dict_iter_obj))
print(dict1[next(dict_iter_obj)])
print(next(dict_iter_obj))

a
2
c

In [10]:
dict1 = {'a':1,"b":2,'c':3}

dict_iter_obj = iter(dict1.values())

print(next(dict_iter_obj))

print(next(dict_iter_obj).keys())

1

AttributeError: 'int' object has no attribute 'keys'

## GENERATORS

#### -> Python generators are easy way of creating iterators. It generates values one at a time from a given sequence instead of returning the entire sequence at once.
#### -> It is a special type of function which returns an iterator object.
#### -> In a generator function, a yield statement is used rather than a return statement.
#### -> The generator function cannot include the return keyword. If we include it then it will terminate the execution of the function.
#### -> The difference between yield and return is that once yield returns a value the function is paused and the control is transferred to the caller.
#### -> Local variables and their states are remembered between successive calls.
#### -> In case of the return statement value is returned and the execution of the function is terminated. Methods like iter() and next() are implemented automatically in generator function.


## * Simple generators can be easily created using generator expressions

#### -> Generatorexpressions create anonymous generator functions like lambda.
#### -> The syntax for generator expression is similar to that of a list comprehension but the only difference is square brackets are replaced with round parentheses.
#### -> Also list comprehension produces the entire list while the generator expression produces one item at a time which is more memory efficient than list comprehension.

In [7]:
# Generator fn that generates numbers from 1 to 5
# User defined fn - uisng yield means generators

def gen():
    n = 1
    yield n
    
    n += 1   # n = n+1
    yield n
    
    n += 1
    yield n
    
    n += 1
    yield n
    
    n += 1
    yield n
    
gen_obj = gen()

print(gen_obj.__next__())
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(gen_obj.__next__())

1
2
3
4
5

In [28]:
# Generator fn that generates natural numbers from 1 to 15

def gen():
    for i in range(1,16):
        yield i
        
gen_obj = gen()

# We can store all values generated by generator fn in the list

print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))

1
2
3
4
5
6
7
8
9
10
11

In [30]:
def gen():
    for i in range(1,6):
        yield i
        print(i)
gen()

In [33]:
for i in gen_obj:
    print(i)  # run the already in the loop statement
    
#num_list = list(gen())
#print(num_list)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [35]:
# Generator fn to generate ten numbers of fibonacci series,

def fibonacci():
    num1 , num2 = 0,1
    count = 0
    
    while count < 10:
        yield num1
        num1,num2 = num2,num1+num2
        count+=1

In [41]:
fibo=fibonacci()

print(next(fibo))
print(next(fibo))
print(next(fibo))
print(next(fibo))
print(next(fibo))
print(next(fibo))
print(next(fibo))
print(next(fibo))
print(next(fibo))
print(next(fibo))

0
1
1
2
3
5
8
13
21
34

In [48]:
## Generator expression

gen2 = (i for i in range(5))
print(gen2)
print(type(gen2))
print(next(gen2))
print(next(gen2))
print(next(gen2))
print(next(gen2))

<generator object <genexpr> at 0x0000020DA33436B0>
<class 'generator'>
0
1
2
3

In [49]:
# If you run this cell again for the second time, you want get the generator output.
# Because it is a generator and it has terminated the fn when you have run this cell previously itself.
# If you want the output to be printed again,
# Run the previous cell "gen2 = (i**2 for i in range(10))" again and run this current cell.

for i in gen2:
    print(i)

4