In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
len(keyword.kwlist)

35

## Identifiers

In [6]:
var=11
var

11

In [2]:
var_1=11
print(var_1)

11

In [9]:
hello=11
hello

11

In [2]:
hello_1=11
hello_1

11

In [11]:
_var=11
_var

11

In [13]:
int=45
print(int)

45

In [1]:
print(45)

45

In [4]:
print("Data Science and Data Analytics")

Data Science and Data Analytics

## ARITHMETIC OPERATION

In [5]:
a=21
b=12

c=a+b
d=a-b
e=a*b
f=a/b
g=a%b
h=a//b

print(c)
print("Subtraction:",d)
print("Multiplication:",e)

33
Subtraction: 9
Multiplication: 252

## ASSIGNMENT OPERATOR

In [17]:
a=8

a+=2    # a = a+2
print(a)
a*=2    # a = a*2
print(a)
a/=2   # a = a/2
print(a)
a-=2   # a = a-2
print(a)

10
20
10.0
8.0

## COMPARISION OPERATOR

In [21]:
a=100
b=41

print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

## LOGICAL OPERATOR

In [28]:
a=54
b=42
c=42

print((a<=b)and(a!=b))

print((a<b)or(b==c))

print(not(a<b))

False
True
True

## CONDITIONAL STATEMENTS

In [32]:
i=22

if i%2 == 0:
    print("EVEN")
    
if i%2 != 0:
    print("ODD")

EVEN

In [1]:
i=18

if i == 18:
    print("You are eligible to vote")

else:
    print("You are not eligible to vote")

You are eligible to vote

In [3]:
i=32

if i <= 18:
    print("Not eligible to vote")
    
elif i >= 18:
    print("Eliglible to vote")
    
elif i == 18:
    print("You are eliglible to vote")
    
else:
    print("None of them")

Eliglible to vote

In [4]:
i = -55

if i%5 == 0:
    print(i,"is divisible by 5")
    if i%10 == 0:
        print(i,"is divisible by 10")
    else:
        print(i,"is not divisible by 10")
else:
    print(i,"is not divisible by 5")

-55 is divisible by 5
-55 is not divisible by 10

## DATA TYPES

In [4]:
in_val =int(input("Enter the value:"))
type(in_val)

Enter the value:55

int

In [5]:
a = float(in_val)
print(a)
print(type(a))

55.0
<class 'float'>

In [6]:
string_val = str(a)
print(string_val)
print(type(string_val))

55.0
<class 'str'>

In [11]:
a = 15
print(a)
print(type(a))

b = complex(a)
print(b)
print(type(b))

15
<class 'int'>
(15+0j)
<class 'complex'>

In [12]:
a = 15.421
print(a)
print(type(a))

b = complex(a)
print(b)
print(type(b))

15.421
<class 'float'>
(15.421+0j)
<class 'complex'>

In [14]:
a = complex(b)
print(a)
print(type(a))

(15.421+0j)
<class 'complex'>

In [15]:
# You cannot convert complex to int or float type

a = 101+7j
b = int(a)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [2]:
# typecasting complex to str

a = 10+2j
b = (a)
print(b)
print(type(b))

(10+2j)
<class 'complex'>

In [17]:
a = 10.41+4j
b = str(a)
print(b)
print(type(b))

(10.41+4j)
<class 'str'>

In [19]:
input_val = int(input("Enter the number:"))

if (input_val>=2) and (input_val<=5):
    print("Ooty")
elif (input_val>=4) and (input_val<=6):
    print("Goa")
elif ((input_val>=10) and (input_val<=13)) or (input_val==2):
    print("Munnar")
else:
    print("Invalid")

Enter the number:2
Ooty

## LOOPING STATEMENTS

In [6]:
# for
a=[1,2,3,4,5]
for i in a: 
    print(i)

1
2
3
4
5

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [8]:
for i in range(41,47): # 41,42,43,44,45,46
    print(i)

41
42
43
44
45
46

In [24]:
for i in range(41,45): # 41,42,43,44
    print(i*2)

82
84
86
88

In [27]:
for i in range(41,54,3):
    print(i)

41
44
47
50
53

In [28]:
for i in range(41,54,2): # 41,42,43,44,45,46,47,48,49,50,51,52,53   (skip-2 -> 41,43,45,47,49,51,53)
    print(i*2)

82
86
90
94
98
102
106

In [11]:
# Nested loop

for i in range(1,5):   # 1,2,3,4
    for j in range(i):
        print(j)
    print()

0

0
1

0
1
2

0
1
2
3

In [7]:
for i in range(1,5):  # 1,2,3,4
    for j in range(i):
        print(i)
    print()

1

2
2

3
3
3

4
4
4
4

In [12]:
str=['Hii','Python']
for i in str:
    for j in i:
        print(i)
    print()

Hii
Hii
Hii

Python
Python
Python
Python
Python
Python

In [9]:
str=['Hello','Python']
for i in str:
    for j in i:
        print(j)
    print()

H
e
l
l
o

P
y
t
h
o
n

In [11]:
for i in range(1,6):    # Outer loop for rows
    for j in range(i):  # Inner loop for printing stars in each row
        print(j,end=' ') # Substitude * for this
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [12]:
for i in range(1,6):    # Outer loop for rows
    for j in range(i):  # Inner loop for printing stars in each row
        print('*',end=' ') # Substitude * for this
    print()

*
* *
* * *
* * * *
* * * * *

In [14]:
for i in range(5,0,-1):
    for j in range(i):
        print(j,end=' ')
    print()

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [15]:
for i in range(5,0,-1):
    for j in range(i):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [17]:
for i in range(5):
    for j in range(5,i,-1):
        print(j,end='')
    for j in range(i+1):
        print(j,end=' ')
    print()

543210
54320 1
5430 1 2
540 1 2 3
50 1 2 3 4

In [18]:
for i in range(5):
    for j in range(5,i,-1):
        print(' ',end='')
    for j in range(i+1):
        print('*',end=' ')
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [27]:
for i in range(5):
    for j in range(5,i,-1):
        print(' ',end='')
    for j in range(i+1):
        print('@',end=' ')
    print()

     @
    @ @
   @ @ @
  @ @ @ @
 @ @ @ @ @

In [ ]:
for i in range(5):
    for j in range(5,i,-1):
        print(j,end='')
    for j in range(i+1):
        print(j,end=' ')
    print()

In [31]:
# while

i=1

while i<20:
    print(i)
    i*=2   # i=i*2

1
2
4
8
16

In [21]:
# floor, ceil and round

import math

output = 452.1458

a=round(output,0)
b=round(output,3)
c=round(output,2)
d=math.floor(output)
e=math.ceil(output)

print("Rounded to 0 decimal place:",a)
print("Rounded to 3 decimal place:",b)
print("Rounded to 2 decimal place:",c)
print("Floor:",d)
print("Floor:",e)

Rounded to 0 decimal place: 452.0
Rounded to 3 decimal place: 452.146
Rounded to 2 decimal place: 452.15
Floor: 452
Floor: 453

## MEMBERSHIP OPERATOR

In [20]:
# in,not in

str1="ABCDEFGHIJKL"
print("E" not in str1)
print("A",'E','E' in str1)

False
A E True

In [21]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(0,10):
    print("The square root of number", i,"is:",i**2)

The square root of number 0 is: 0
The square root of number 1 is: 1
The square root of number 2 is: 4
The square root of number 3 is: 9
The square root of number 4 is: 16
The square root of number 5 is: 25
The square root of number 6 is: 36
The square root of number 7 is: 49
The square root of number 8 is: 64
The square root of number 9 is: 81

In [1]:
print("Hello","HI")

Hello HI

In [5]:
str1 = "Hema"
str2 = "2004"
str3 = str1+str2
str3
print(str3)
print(type(str3))

Hema2004
<class 'str'>

In [25]:
#print(str3)
print("Its s"+"o" * 10+"beautiful" * 2)

Its soooooooooobeautifulbeautiful

In [5]:
pattern = "----1111----"
print(pattern*7)

----1111--------1111--------1111--------1111--------1111--------1111--------1111----

In [2]:
# break

for i in range(0,20,2):
    ifl i<10:
        print(i)
        continue
    elif i==14:
        break
    else:
        pass
    print(i)

0
2
4
6
8
10
12

In [1]:
# string slicing

str1 = "This is a python"
str1[2:4]

'is'

In [23]:
str1[4:]

' is a python'

In [24]:
str1[1:11:2]

'hsi  '

In [25]:
str1[11:3:-2]

'y  i'

In [26]:
str1[2:8]

'is is '

In [13]:
str1[:]

'This is a python'

In [14]:
print(len(str1))

16

In [18]:
str1.lower()

'this is a python'

In [19]:
str1.upper()

'THIS IS A PYTHON'

In [20]:
list1 = str1.split(" ")
print(list1)

['This', 'is', 'a', 'python']

In [21]:
str3 = " ".join(list1)
print(str3)

This is a python

In [27]:
str5="gty1hSAFRGRaz"
print(str5.isalpha())

False

In [29]:
str5=456
print(str5.isalpha())

AttributeError: 'int' object has no attribute 'isalpha'

In [2]:
str1 = "Hello hi abc hi H hi!"
str2 = "hi"
str3 = "1234"

print(str1.find(str2))
print(str1.index(str2))

print(str1.rfind(str2))
print(str1.rindex(str2))

6
6
18
18

In [4]:
list2 = ['05','02','2004']

str4 = "/".join(list2)

print(str4)

05/02/2004

In [32]:
str7 = "145dfjn55AShn14"
print(str7.isdigit())

False

In [9]:
string1 = "HELLO"
string2 = "HellO"
string3 = "157G"
string4 = "H45df"
string5 = "hello"
string6 = "H1E4llo"

print(string1.isupper())
print(string2.isupper())
print(string3.isupper())
print(string4.isupper())
print(string5.isupper())
print(string6.isupper())

True
False
True
False
False
False

In [10]:
string1 = "HELLO"
string2 = "HellO"
string3 = "157G"
string4 = "H45df"
string5 = "hello"
string6 = "H1E4llo"

print(string1.islower())
print(string2.islower())
print(string3.islower())
print(string4.islower())
print(string5.islower())
print(string6.islower())

False
False
False
False
True
False

In [11]:
string1 = "abcdefghijklmnopqrstuvwxyz"
string2 = string1.upper()
string3 = "0123456789"
string4 = ";:!@#$%^&*"

a = input("Enter the password:")

flag1 = flag2 = flag3 = flag = False

for i in a:
    if i in string1:
        flag1 = True
    elif i in string2:
        flag2 = True
    elif i in string3:
        flag3 = True
    elif i in string4:
        flag4 = True
    else:
        pass
    
if (flag1==True) and (flag2==True) and (flag3==True) and (flag4==True):
    print("Valid password")
else:
    print("Invalid password")

Enter the password:Data
Invalid password

In [33]:
str2 = "124⅓⅔⅖"
print(str2.isnumeric())
print(str2.isdigit())
print(str2.isdecimal())
print()

True
False
False

In [34]:
string1 = "Helloclass"
string2 = "Hello class"
string3 = "123 class"
string4 = "123 Class"
string5 = "1234"
string6 = "ABC"
string7 = "ABcDefG"

print(string1.istitle())
print(string2.istitle())
print(string3.istitle())
print(string4.istitle())
print(string5.istitle())
print(string6.istitle())
print(string7.istitle())

True
False
False
True
False
False
False

In [4]:
string1 = "    "
string2 = "Hello Class"
string3 = "\t\t\n"

print(string1.isspace())
print(string2.isspace())
print(string3.isspace())

True
False
True

In [11]:
input_val = input("Enter the colours:")

list_1 = input_val.split(" ")
print(list_1)


if "Black" in list_1 and "White" in list_1:
    print("True")
else:
    print("False")

Enter the colours:Blue Black Green White Orange
['Blue', 'Black', 'Green', 'White', 'Orange']
True

In [12]:
# strip() It removes the white space and print the word

print("       hello      ")
print("       hello      ".strip())

       hello
hello

In [18]:
string = "!---Hello!,!Class!---"
stripped_string = string.strip("!-")
print(stripped_string)

Hello!,!Class

In [14]:
# Left Strip

string = "------Hello,Class!------"
left_stripped_string = string.lstrip("-")
print(left_stripped_string)

Hello,Class!------

In [15]:
# Right Strip

string = "------Hello,Class!------"
right_stripped_string = string.rstrip("-")
print(right_stripped_string)

------Hello,Class!

In [19]:
str_capitalize = "hi hello how are you"
str_2 = "123456"
str_3 = "abgh485E"

print(str_capitalize.capitalize())
print(str_2.capitalize())
print(str_3.capitalize())

Hi hello how are you
123456
Abgh485e

In [24]:
# Replace

string = "She sells sea shells by the sea shore. She sells sea shells."
new_string1 = string.replace("sea","ocean")
print(new_string1)
new_string2 = string.replace("sea","ocean",2)
print(new_string2)

She sells ocean shells by the ocean shore. She sells ocean shells.
She sells ocean shells by the ocean shore. She sells sea shells.

In [36]:
# Startswith

string = "Hello, This is a python class!"
if string.startswith("Hello"):
    print("The string starts with 'Hello'")
else:
    print("The string does not start with 'Hello'")

print(string.startswith("Hello"))

The string starts with 'Hello'
True

In [26]:
if string.endswith("Class!"):
    print("The string starts with 'Class!'")
else:
    print("The string does not start with 'Class!'")

print(string.endswith("Class!"))

The string does not start with 'Class!'
False

In [38]:
# Escape sequencing

mystr = "My favourite TV Series is" "Game of Thrones"
mystr

'My favourite TV Series isGame of Thrones'

In [32]:
mystr = 'My favourite TV Series is "Game of Thrones"'
print(mystr)

My favourite TV Series is "Game of Thrones"

In [33]:
mystr = "My favourite TV Series is \"Game of Thrones\""
print(mystr)

My favourite TV Series is "Game of Thrones"

In [34]:
mystr = "My favourite TV Series is \n\"Game of Thrones\""
print(mystr)

My favourite TV Series is
"Game of Thrones"

In [35]:
mystr = "My favourite TV Series is \t\"Game of Thrones\""
print(mystr)

My favourite TV Series is 	"Game of Thrones"

In [41]:
# String enumerate

str1 = "ABCDEFGHIJ"
for i,j in enumerate(str1):
    print("Index : ",i)
    print("Value : ",j)

Index :  0
Value :  A
Index :  1
Value :  B
Index :  2
Value :  C
Index :  3
Value :  D
Index :  4
Value :  E
Index :  5
Value :  F
Index :  6
Value :  G
Index :  7
Value :  H
Index :  8
Value :  I
Index :  9
Value :  J

In [40]:
str1 = "ABCDEFGHIJ"
for i,j in enumerate(str1):
    print(i,j)

0 A
1 B
2 C
3 D
4 E
5 F
6 G
7 H
8 I
9 J

In [42]:
str1 = "ABCDEFGHIJ"
for i in enumerate(str1):
    print(i)

(0, 'A')
(1, 'B')
(2, 'C')
(3, 'D')
(4, 'E')
(5, 'F')
(6, 'G')
(7, 'H')
(8, 'I')
(9, 'J')

In [1]:
# Formatting with % Operator: .format

name = "ABCD"
age = 42
formatted_string = ("My name is {} and I am {} years old.".format(name,age))
print(formatted_string)

My name is ABCD and I am 42 years old.

In [2]:
# f-string

name = "ABCD"
age = 42
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is ABCD and I am 42 years old.

In [12]:
# Bitwise Operator

# &,|,<<,>>,~,^

a = 45
b = 75

print(a & b) # AND Both are 1 it returns 1 or otherwise it returns 0

9

In [2]:
print(a | b) # OR Both are 0 it returns 0 or otherwise it returns 1

111

In [6]:
# Negation Operator

# ~number = -(number+1)

print(~24)

-25

In [3]:
a_bin=bin(a)
print(a_bin)

0b101101

In [4]:
b_bin=bin(b)
print(b_bin)

0b1001011

In [12]:
# XOR Operator ^
# 0-0 -----> 0
# 1-1 -----> 0
# 0-1 -----> 1
# 1-0 -----> 1

a = 14
b = 22

print(a^b)

24

In [8]:
# Left shift

print(42<<4) # First find the value of 42 and it moves 4 in the left and now is ur ans

672

In [11]:
# Right shift

print(100>>4) # 100/2^4 Divide the variable by 2 to the power of shift number

6

## ARRAYS

In [4]:
# Create an array of floating-point numbers
# Float takes 4 bytes space

import array as arr

float_array = arr.array('f',[1.1,2.2,3.3,4.4])
print(type(float_array))
print(float_array)

<class 'array.array'>
array('f', [1.100000023841858, 2.200000047683716, 3.299999952316284, 4.400000095367432])

In [5]:
# Create an array of unicode characters
# String takes 2 bytes space

str_array = arr.array('u',["h","L"])
print(type(str_array))

# Python array does not directly support arrays of strings

<class 'array.array'>

In [6]:
# Creating an array with integer type
a=arr.array('i',[8,5,6,2,4])
print(a) # Printing original array

print("int array is:")
for i in range (0,5):
    print(a[i],end=' ')
    
print(type(a))

for i in range(0,5):
    print(a[i])

array('i', [8, 5, 6, 2, 4])
int array is:
8 5 6 2 4 <class 'array.array'>
8
5
6
2
4

In [7]:
int_array = arr.array('i',[1,2,3,4,5,6])

# Accessing array elements

print(int_array[2])
print(int_array[-2])

3
5

In [8]:
# Length of array

print(len(int_array))

6

In [9]:
# Appending elements in array to the end of array
# Append is used to add the elements

int_array.append(7)
int_array.append(8)
print(int_array)

array('i', [1, 2, 3, 4, 5, 6, 7, 8])

In [10]:
# Extend - inserting elements or array of elements at the end of array
# Extend is used for combining together the elements

arr_1 = arr.array('i',[1,2,3,4,5])
arr_2 = arr.array('i',[6,7,8,9,10])

arr_1.extend(arr_2)
print(arr_1)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [11]:
# Array of elements cannot be appended in python arrays but it can be done in lists.
# This is not possible in arrays because array is a collection of homogeneous elements.
# and so we can't add an array of integers instead of one integer value

arr_1 = arr.array('i',[1,2,3,4,5])
arr_2 = arr.array('i',[6,7,8,9,10])

arr_1.append(arr_2)
print(arr_1)

# It does not add more elements append is used for add single elements only. Instead of append using extend function to add more elemenets.

TypeError: 'array.array' object cannot be interpreted as an integer

In [12]:
# insert - Inserts an element at the given position number
# insert value '9' at 8th index

int_array = arr.array('i',[1,2,3,4,5,6])
int_array.insert(5,9)
print(int_array)

array('i', [1, 2, 3, 4, 5, 9, 6])

In [13]:
# When you use a negative index with the insert() method on a list or an array
# it inserts the new element before the position specified by the negative index

int_array.insert(-1,11)
print(int_array)

array('i', [1, 2, 3, 4, 5, 9, 11, 6])

In [14]:
# Removing element 3
# If multiple elements are 3, it will remove only first elements

int_array.remove(3)
print(int_array)

array('i', [1, 2, 4, 5, 9, 11, 6])

In [17]:
# Popping out the element at index 3

popped_element = int_array.pop(3)
print(popped_element)

11

In [32]:
# Popping out last elements if uu dont give the index value means.

popped_element = int_array.pop()
print(popped_element)

6

In [33]:
# Concatenation

int_array2 = arr.array('i',[7,8,9])
concatenated_array = int_array + int_array2
print(concatenated_array)

array('i', [1, 2, 4, 9, 11, 7, 8, 9])

In [54]:
# Reverse
print(int_array)
print(int_array[::-1])

array('i', [1, 2, 12, 4, 5, 6])
array('i', [6, 5, 4, 12, 2, 1])

In [35]:
print(int_array)

array('i', [1, 2, 4, 9, 11])

## Data Structures in Python

## LIST

In [1]:
list1 = [1 , 2, 'abc', 3, 'def']
list2 = []
list3 = list((1, 2, 3))
print(list1)
print(list2)
print(list3)

[1, 2, 'abc', 3, 'def']
[]
[1, 2, 3]

## TUPLE

In [6]:
tuple1 = (1, 2, 'abc', 3, 4)
tuple2 = ()
tuple3 = tuple((1, 3, 5, "hello"))
print(tuple1)
print(tuple2)
print(tuple3)

(1, 2, 'abc', 3, 4)
()
(1, 3, 5, 'hello')

## SET

In [3]:
set1 = {1, 2, 3, 'abc', 6}
print(set1)

{1, 2, 3, 'abc', 6}

## DICTIONARY

In [7]:
dict1 = {"Tamil": "96", "English": "88"}
dict2 = {}
dict3 = dict({1: "one", 2: "two", 3: "three"})
print(dict1)

print(dict2)

print(dict3)

{'Tamil': '96', 'English': '88'}
{}
{1: 'one', 2: 'two', 3: 'three'}

## ARRAYS

In [33]:
# Slicing

int_array1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]


print(int_array1[2:])
print(int_array1[:12])
print(int_array1[2:10:2])
print(int_array1[:8:3])
print(int_array1[2::3])

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[3, 5, 7, 9]
[1, 4, 7]
[3, 6, 9, 12, 15, 18]

In [34]:
import array as arr

int_array = arr.array('i',[1,2,3,4,5,6,])
print(int_array[2:])
print(int_array[:4])

array('i', [3, 4, 5, 6])
array('i', [1, 2, 3, 4])

In [35]:
# Typecasting

list1 = list(int_array)
print(list1)

arr_ = arr.array('i',list1)
print(arr_)

[1, 2, 3, 4, 5, 6]
array('i', [1, 2, 3, 4, 5, 6])

In [36]:
# Updating arrays, arrays are mutable

int_array[2] = 12
print(int_array)

array('i', [1, 2, 12, 4, 5, 6])

In [39]:
# Count - counts are occurence of an element in array

int_array.count(7)

NameError: name 'int_array' is not defined

## LIST

In [38]:
list1 = [1 , 2, 'abc', 3, 'def']
list2 = []
list3 = list((1, 2, 3))
print(list1)
print(list2)
print(list3)

[1, 2, 'abc', 3, 'def']
[]
[1, 2, 3]

In [39]:
print(dir(list1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [45]:
# Typecasting

str_val ="Hi"
print(type(str_val))
list1 = list(str_val)
print(list1)

<class 'str'>
['H', 'i']

In [46]:
str_val ="H"
print(type(str_val))
list1 = list(str_val)
print(list1)

<class 'str'>
['H']

In [41]:
str_val =True
print(type(str_val))
list1 = list(str_val)
print(list1)

<class 'bool'>

TypeError: 'bool' object is not iterable

In [48]:
# typecasting
# Only one integer value cannot be typecasted to list
# List requires collection of elements

int_val = 12
list1 = list(int_val)
print(list1)

TypeError: 'int' object is not iterable

In [49]:
int_val = 12,45,57,58,95
list1 = list(int_val)
print(list1)

[12, 45, 57, 58, 95]

In [50]:
bool_val = True
list1 = list(bool_val)
print(list1)

TypeError: 'bool' object is not iterable

In [51]:
bool_val = True,False
list1 = list(bool_val)
print(list1)

[True, False]

In [55]:
# List concatenation (+)

print([3,5] + [True,85.4])

[3, 5, True, 85.4]

In [58]:
print([5,4] + [True,54.4] + [False])

[5, 4, True, 54.4, False]

In [59]:
print([5,4] + [True,54.4] + "Hello")

TypeError: can only concatenate list (not "str") to list

In [60]:
print(list1 * 2)

[True, False, True, False]

In [67]:
# Slicing
# Chunk of list repetition

list1 = [1,6.5,True,"Hi",7-7j]

print(list1[1:2] * 3)
print(list1[1] * 3)

# If you use only one elements with *,it performs operations on that element
print(list1[4] * 10)
print(list1[3] * 10)
print(list1[2] * 10)
print(list1[1] * 10)

[6.5, 6.5, 6.5]
19.5
(70-70j)
HiHiHiHiHiHiHiHiHiHi
10
65.0

In [69]:
print(str(list1[4]) * 10)
print(str(list1[3]) * 10)
print(str(list1[2]) * 10)
print(str(list1[1]) * 10)

(7-7j)(7-7j)(7-7j)(7-7j)(7-7j)(7-7j)(7-7j)(7-7j)(7-7j)(7-7j)
HiHiHiHiHiHiHiHiHiHi
TrueTrueTrueTrueTrueTrueTrueTrueTrueTrue
6.56.56.56.56.56.56.56.56.56.5

In [2]:
# Membership operation in lists
# Tries to find whether the given element is present in list or not
# in ---- returns True if element is in the list, otherwise False
# not-in ---- returns True if element is not in the list, otherwise False

list1 = ["Hi how are you?",12,35,56]

print(35 in list1)
print(23 not in list1)

True
True

In [4]:
print("Hi" in list1)
print("Hi" in list1[0])

False
True

In [5]:
# List are mutable data types in python because the list can be modified, replaced,
# and other order of element can be changed even after the list has been created
# insert,delete,update

list1 = ["Hi",3,5.4,4-6j,False,[5,6]]
print(list1)

['Hi', 3, 5.4, (4-6j), False, [5, 6]]

In [6]:
# Inserting elements at the end
# append

# append does not necessarily require an iterable object to be passed in the argument

list1.append(0)
list1.append("Hello")
list1.append([4,5])
list1.append(False)

print(list1)

['Hi', 3, 5.4, (4-6j), False, [5, 6], 0, 'Hello', [4, 5], False]

In [7]:
# Inserting element at the end
# extend combine the elements

# extend requires an iterable object in the argument

list2 = ["Class",2.4,4-5j,45,True,["Hi","Hello"]]

list2.extend([0])
list2.extend("Hello")
list2.extend([9,7])
list2.extend([True])

print(list2)

['Class', 2.4, (4-5j), 45, True, ['Hi', 'Hello'], 0, 'H', 'e', 'l', 'l', 'o', 9, 7, True]

In [8]:
l2 = "Hello"
print(list(l2))

['H', 'e', 'l', 'l', 'o']

In [13]:
# Insert an element at the given position number
# listName.insert(pos,element)

list2 = ["Class",2.4,4-5j,45,True,["Hi","Hello"]]

list2.insert(4,[5,6,7,8,2])

list2.insert(0,['Hi','All','Good morning'])

print(list2)

[['Hi', 'All', 'Good morning'], 'Class', 2.4, (4-5j), 45, [5, 6, 7, 8, 2], True, ['Hi', 'Hello']]

In [14]:
# Use of append

mobile = []

for i in range(3):
    input_mobile = input("Enter the mobile number:")
    mobile.append(input_mobile)
    
print(mobile)

Enter the mobile number:9566779283
Enter the mobile number:9994453083
Enter the mobile number:8456412378
['9566779283', '9994453083', '8456412378']

In [17]:
# When you use of extend

mobile = []

for i in range(3):
    input_mobile = input("Enter the mobile number:")
    mobile.extend(input_mobile)
    
print(mobile)

Enter the mobile number:9994453083
Enter the mobile number:9566779283
Enter the mobile number:9684752685
['9', '9', '9', '4', '4', '5', '3', '0', '8', '3', '9', '5', '6', '6', '7', '7', '9', '2', '8', '3', '9', '6', '8', '4', '7', '5', '2', '6', '8', '5']

In [18]:
# Updation of element in lists

# Replace mobile[1] by True
# Replace mobile[2] by 10

mobile[1] = True
mobile[2] = 10

print(mobile)

['9', True, 10, '4', '4', '5', '3', '0', '8', '3', '9', '5', '6', '6', '7', '7', '9', '2', '8', '3', '9', '6', '8', '4', '7', '5', '2', '6', '8', '5']

In [23]:
# Deleting values in lists

# Remove - removes a particular element from the list
# Removes the first occurrence of the given element

list1 = ['class',2.3,(7-9j),54,True,['Hi','Hello'],0,'h','e','l','l','o',4,5,True]
list1.remove(True)

print(list1)

['class', 2.3, (7-9j), 54, ['Hi', 'Hello'], 0, 'h', 'e', 'l', 'l', 'o', 4, 5, True]

In [24]:
# Deleting all occurrence of True

for i in list1:
    if True in list1:
        list1.remove(True)
    else:
        continue

print(list1)

['class', 2.3, (7-9j), 54, ['Hi', 'Hello'], 0, 'h', 'e', 'l', 'l', 'o', 4, 5]

In [34]:
# Pop method
# () doesnt mention anything in the brackets it remove last value

list1 = ['class',2.3,(7-9j),54,['Hi','Hello'],0,'h','e','l','l','o',4,5]

print(list1.pop())

5

In [32]:
# (4) mention index value means it remove the particular index value

list1 = ['class',2.3,(7-9j),54,['Hi','Hello'],0,'h','e','l','l','o',4,5,True]

print(list1.pop(4))

['Hi', 'Hello']

In [35]:
print(list1.pop())
popped_element = list1.pop(1)
print(popped_element)

4
2.3

In [37]:
# Dleting an array element is possible
import array as arr
arr_value = arr.array("i",[1,2,3,4,5])

del arr_value[3]

print(arr_value)

array('i', [1, 2, 3, 5])

In [48]:
# Deleting a list element is possible

list1 = [23,54.859,"Python class",True]

del list1[2]

print(list1)

[23, 54.859, True]

In [49]:
# Inserting element in lists
# listName.insert(pos,element)

list1.insert(0,["Hi","Its python class!"])

print(list1)

[['Hi', 'Its python class!'], 23, 54.859, True]

In [50]:
# negative indexing insert

list1.insert(-2,1000)

print(list1)

[['Hi', 'Its python class!'], 23, 1000, 54.859, True]

In [51]:
list1.insert(-1,98)

print(list1)

[['Hi', 'Its python class!'], 23, 1000, 54.859, 98, True]

In [52]:
# Getting the index of an element in list

print(list1.index(1000))
print(list1.index(['Hi','Its python class!']))

2
0

In [53]:
print(list1.index(100))

ValueError: 100 is not in list

In [54]:
print(list1.index(True,1,4))

ValueError: True is not in list

In [48]:
list1 = ['class',2.3,(7-9j),54,['Hi','Hello '],0,'h','e','l','l','o',4,5,True]
print(list1.index(4,6))

11

In [57]:
a = [1,2,3]
b = a
b.append(4)

print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

## COPY

In [1]:
my_list = ["HEMA","SHANTHI","SARANYA","SREE"]

my_list1 = my_list

my_list1

['HEMA', 'SHANTHI', 'SARANYA', 'SREE']

In [2]:
my_list

['HEMA', 'SHANTHI', 'SARANYA', 'SREE']

In [5]:
my_list2 = my_list.copy()

my_list2

['HEMA', 'SHANTHI', 'SARANYA', 'SREE']

In [8]:
my_list1[0] = "SURYA"

my_list1

['SURYA', 'SHANTHI', 'SARANYA', 'SREE']

In [10]:
my_list

['SURYA', 'SHANTHI', 'SARANYA', 'SREE']

In [11]:
my_list2

['HEMA', 'SHANTHI', 'SARANYA', 'SREE']

## LIST MEMBERSHIP

In [14]:
## Membership operator (in,not in)

my_list = ["HEMA","SHANTHI","SARANYA","SREE"]

'SREE' in my_list

True

In [15]:
## Write by using if else statement

if 'HEMA' in my_list:
    print('HEMA is present in the list')
else:
    print('HEMA is not in the list')

HEMA is present in the list

In [16]:
## Write by using if else statement

n=54
if 'n' in my_list:
    print(n, 'is present in the list')
else:
    print(n, 'is not in the list')

54 is not in the list

## REVERSE AND SORT LIST

In [1]:
my_list = ['Hema','Saran',456,'Python',578,'Anu']

my_list.reverse()

my_list

['Anu', 578, 'Python', 456, 'Saran', 'Hema']

In [5]:
my_list = ['Hema','Saran',456,'Python',578,'Anu']

my_list[::-1]

['Anu', 578, 'Python', 456, 'Saran', 'Hema']

In [6]:
my_list = ['Hema','Saran',456,'Python',578,'Anu']

my_list[::-2]

['Anu', 'Python', 'Saran']

In [9]:
## SORT It prints ordered (Ascending order)

list1 = [10,2,54,2,789,301,51]

list1.sort() 

list1
3

[2, 2, 10, 51, 54, 301, 789]

In [10]:
list1 = [10,2,54,2,789,301,51]

list1.sort(reverse=True)

list1

[789, 301, 54, 51, 10, 2, 2]

In [14]:
list1 = [10,2,54,2,789,301,51]

list1.sort()

list1

list1[::-1]

[789, 301, 54, 51, 10, 2, 2]

In [17]:
list1 = [10,2,54,2,789,301,51]

st1 = sorted(list1)

st1

[2, 2, 10, 51, 54, 301, 789]

In [18]:
list2 = ["HEMA","SHANTHI","SARANYA","SREE"]

list2.sort()

list2

['HEMA', 'SARANYA', 'SHANTHI', 'SREE']

In [19]:
list2 = ["HEMA","SHANTHI","SARANYA","SREE",546]

list2.sort()

list2

TypeError: '<' not supported between instances of 'int' and 'str'

In [20]:
list2 = ["HEMA","SHANTHI","SARANYA","SREE",'546']

list2.sort()

list2

['546', 'HEMA', 'SARANYA', 'SHANTHI', 'SREE']

In [22]:
list2 = ["Hema","shanthi","SARANYA","SREE",'546','anu','bhanu']

list2.sort()

list2

['546', 'Hema', 'SARANYA', 'SREE', 'anu', 'bhanu', 'shanthi']

In [25]:
# reverse() method - used to reverse the elements of the list

list_a = [1,2,3,4,5,4,3,2,1]

list_copy = list_a.copy()

# reverse the list

list_copy.reverse()

# compare reversed and original list

if list_a == list_copy:
    print(list_a, ": Palindrome")
else:
    print(list_a, ": Not Palindrome")

[1, 2, 3, 4, 5, 4, 3, 2, 1] : Palindrome

In [24]:
# reverse() method - used to reverse the elements of the list

list_a = [1,8,4,6,2,8,4,9,2,1]

list_copy = list_a.copy()

# reverse the list

list_copy.reverse()

# compare reversed and original list

if list_a == list_copy:
    print(list_a, ": Palindrome")
else:
    print(list_a, ": Not Palindrome")

[1, 8, 4, 6, 2, 8, 4, 9, 2, 1] : Not Palindrome

In [26]:
# reverse() method - used to reverse the elements of the list

list_a = ["PEEP"]

list_copy = list_a.copy()

# reverse the list

list_copy.reverse()

# compare reversed and original list

if list_a == list_copy:
    print(list_a, ": Palindrome")
else:
    print(list_a, ": Not Palindrome")

['PEEP'] : Palindrome

## LOOP THROUGH A LIST

#### - for loop can be used to iterate over a list
#### - for loop along with range() can be used to iterate over a list

In [27]:
list1 = [10,20,30,40,50,64,7,85]

for i in list1:
    print(i*10) # i*10

100
200
300
400
500
640
70
850

In [28]:
list2 = ['Hema','Saran','Bhanu','Anu']

for i in list2:
    print(i)

Hema
Saran
Bhanu
Anu

In [29]:
## if you need index and element then use enumerate
for i in enumerate(list2):
    print(i)   ## this is actually a tuple

(0, 'Hema')
(1, 'Saran')
(2, 'Bhanu')
(3, 'Anu')

In [35]:
for i,k in enumerate(list2):
    print(i,k)   ## unpacking the tuple

0 Hema
1 Saran
2 Bhanu
3 Anu

## MIN AND MAX VALUES IN LIST

In [36]:
# Finding min and max in a list (Built-in)

list1 = [10,2,54,2,789,301,51]
print(min(list1))
print(max(list1))

2
789

## All and Any

In [37]:
# all - it represnts the given list has 0 means it returns false or otherwise it returns true

list1 = [10,2,54,2,789,301,51,0]

all(list1)

False

In [40]:
list2 = [10,2,54,2,789,301,51,False]

all(list2)

False

In [41]:
# any - it represnts the given list has 0 and any other values means it returns true 
# any - the list has fully 0 it returns false


any(list1)

True

In [42]:
any(list2)

True

In [43]:
list1 = [0,0,0,0]

any(list1)

False

## LIST COMPREHENSION

#### - List comprehension can produce the result in less lines of code
#### - List comprehension provide an elegant way to create new lists
#### - It consists of brackets containing an expression followed by a for clause,then zero or more for if clauses
#### - If you want to initialize something in larger quantity,you cannot use normal method typing manually,In such cases list comprehension is easy to use
#### - In many cases,list comprehension can be slightly faster than traditional methods,
#### especially for large due to its optimized implementation in python

In [48]:
mystring = "WELCOME"
mystr1 = [i for i in mystring]
mystr1

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [49]:
sq = [x for x in range (1,11) if x % 2 == 1]
sq

[1, 3, 5, 7, 9]

In [1]:
for x in range(1,11):
    if x%2==1:
        print(x)

1
3
5
7
9

In [3]:
square = [x **2 for x in range(1,11) if x % 2 == 1]
print(square)

[1, 9, 25, 49, 81]

In [5]:
square1 = [x **2 for x in range(1,11) if x % 2 == 0]
print(square1)

[4, 16, 36, 64, 100]

In [6]:
square2 = [x for x in range(40) if x%3==0 if x%6==0 if x%12==0]
print(square2)

[0, 12, 24, 36]

In [7]:
square3 = ["{} is even number".format(x) if x%2==0 else "{} is odd number".format(x) for x in range(15)]
for i in square3:
    print(i)  ## It prints loop format

0 is even number
1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number
11 is odd number
12 is even number
13 is odd number
14 is even number

In [8]:
square3 = ["{} is even number".format(x) if x%2==0 else "{} is odd number".format(x) for x in range(15)]
print(square3) ## It gives list format

['0 is even number', '1 is odd number', '2 is even number', '3 is odd number', '4 is even number', '5 is odd number', '6 is even number', '7 is odd number', '8 is even number', '9 is odd number', '10 is even number', '11 is odd number', '12 is even number', '13 is odd number', '14 is even number']

In [10]:
mystr ="One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [x for x in mystr if x.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [12]:
mystr2 ="One 1 two 2 three 3 four 4 five 5 six 6789"
numbers2 = [x for x in mystr if x.isalpha()]
numbers2

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

In [13]:
mystr3 ="One 1 two 2 three 3 four 4 five 5 six 6789"
numbers3 = [x for x in mystr if x.isupper()]
numbers3

['O']

In [14]:
mystr4 ="One 1 two 2 three 3 four 4 five 5 six 6789"
numbers4 = [x for x in mystr if x.islower()]
numbers4

['n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']